{{#partial "content"}}
    <p>name:{{ patient.name }} </p>
    <p>NationalId:{{ patient.nationalId }} </p>
    <p>Date:{{ patient.treatedDate }} </p>
    <p>Infection:{{ patient.infection }} </p>
    <p>Tel:{{ patient.tel }} </p>
    <p>Amount:{{ patient.amount }} </p>
    <p>Officer of this patient: {{ officer.name }}</p>

    <p>
        <a href="/patients/{{patient.id}}/edit">Edit this patient records</a><br>
        <a href="/officers/{{patient.officerId}}/patients/{{patient.id}}/delete">DELETE this patient records</a>
    </p>

{{/partial}}

{{> layout.hbs}}